@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
@import './mixins.scss';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
}

main{
    width: 100%;
    color: white;
    background-color: #1c1c1c;
    
}

